interfaces {
{% for interface in interfaces %}
    {{ interface.name }} {
        unit 0 {
            family ethernet-switching {
                replace: vlan {
                    members [ {{ interface.vlans | list | join(" ") }} ];
                }
    {% if interface.vlans|length > 1 %}
            interface-mode trunk;
    {% endif %}
        }
        }
    {% if interface.native_vlan_id %}
    native-vlan-id {{ interface.native_vlan_id }};
    {% endif %}
  {% if interface.description %}
  description "{{ interface.description }}";
  {% endif %}
  }
{% endfor %}
}
