{% for interface in interfaces %}
{% if interface.poe == "yes" %}
set poe interface {{ interface.name }}
{% elif interface.poe == "no" %}
set poe interface {{ interface.name }}
delete poe interface {{ interface.name }}
{% endif %}
{% endfor %}
